.about-container{
width: 80%;
height: 330px;
background-color: #FFFFFF;
border-radius: 20px;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
display: flex;
margine:-7% auto 20px auto;
position: relative;
}
