@charset "utf-8";

body {
margin:0px;
padding: 0px;
font-family: poppins;
scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

#main { 
  width:100%
    height: 100vh;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  align0items: center;
  box-shadow: 5px 10px rgba(0,0,0,0.02);
  position: fixed;
  left:0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: white;
}
 
 nav ul {
  display: flex;
 }
 
 nav ul li a{
  height: 40px;
  line-height:43px;
  margin:3px;
  padding 0px 22px;
  display flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #585b5b;
  letter-spacing: 1px;
 }
/* 
.about-container {
width: 80%;
height: 330px;
background-color: #e8d5d5;
border-radius: 20px;
box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
display: flex;
position: relative;
}

.about-text {
  width: 550px;
}

.about-text p:nth-child(1){
color:#403e3e;
font-family: myriad pro;
font-weight: bold;
font-size:23px;
line-height: 0px;
}
.about-text p:nth-child(2) {
  color:#3e3d3d;
  font-size: 13px;
  font-family: myriad pro;
  font-weight: bold;
  line-height: 5px;
}
.about-text p:nth-child(3) {
  color: #7e7d7d;
  font-family: calibri;
  font-size: 16px;
  padding-left: 20px;
}
.about-text p:nth-child(4) {
  color: #7e7d7d;
  font-family: calibri;
  font-size: 16px;
  padding-left: 20px;
}
 */
