
.collapsible {
  font-size: 15px;
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid;
  text-align: left;
  outline: none;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  font-family: Arial;
  font-size: 15px;
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
